<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Vue </title>
    <script src="../common/js/vue-2.0.7.js"></script>
    <link rel="stylesheet" type="text/css" href="../common/css/bootstrap/css/bootstrap.min.css">
</head>
<body>

<!-- <div id="app">
	{{message}}
</div>

<script type="text/javascript">
// data output
var app = new Vue({
	el:'#app',
	data:{
		message:'Hello vue!'
	}
})

</script> -->

<!-- <div id="app-2">
	<span v-bind:title='message'>
		鼠标悬停几秒钟查看此处动态绑定的提示信息！
	</span>
</div>

<script type="text/javascript">
// data binding
var app = new Vue({
	el:'#app-2',
	data:{
		message:'页面加载于 ' + new Date()
	}
})
</script> -->


<!-- <div id="app-3">
	<span v-if='show'>
		现在你看到我了
	</span>
</div>

<script type="text/javascript">
// if statement
var app3 = new Vue({
	el:'#app-3',
	data:{
		show:true
	}
})
</script> -->

<!-- <div id="app-4">
	<ol>
		<li v-for="item in todos">
			{{item.text}}
		</li>
	</ol>
</div>

<script type="text/javascript">
// for loop
var app4 = new Vue({
	el:'#app-4',
	data:{
		todos:[
			{text:'learn javascript'},
			{text:'learn vue'},
			{text:'learn how to create a project using vue'},
		]
	}
})
</script> -->

<!-- <div id="app-5">
	<p>
		{{message}}
	</p>
	<button v-on:click="reverseMessage">Reverse Message</button>
</div>

<script type="text/javascript">
// event binding
var app5 = new Vue({
	el:'#app-5',
	data:{
		message:'This is a test'
	},
	methods:{
		reverseMessage:function() {
			this.message = this.message.split('').reverse().join('');
			console.log(this.message);
		}
	}
})
</script> -->


<!-- <div id="app-6">
	<p>
		{{message}}
	</p>
	<input v-model="message" placeholder="请输入名字">
</div>

<script type="text/javascript">
// data-binding
var app6 = new Vue({
	el:'#app-6',
	data:{
		message:''
	},
})
</script> -->

<!-- <div id="app-7">
	<todo-item v-for="item in todos" v-bind:todo="item"></todo-item>
</div>

<script type="text/javascript">
// component way
Vue.component('todo-item', {
	props:['todo'],
	template:'<li>{{ todo.text }}</li>',
});

var app7 = new Vue({
	el:'#app-7',
	data:{
		todos:[
			{ text: 'Vegetables' },
			{ text: 'Cheese' },
			{ text: 'Whatever else humans are supposed to eat' }
		]
	},
	created:function() {
		console.log('created');
	}
})

console.log(app7.todos);
console.log(app7.$data);


</script> -->


<!-- <div id="app-8">
	<button v-on:click="test">Change</button>
	<a v-bind:href="url" target="_blank">baidu</a>
</div>

<script type="text/javascript">
var data = {a:1, url:'http://www.baidu.com'};
var vm = new Vue({
	el:'#app-8',
	data:data,
	methods:{
		test:function(){
			this.a = 2;
			console.log(this.a);
		}
	},
})
// console.log(vm.a === data.a);
// data.a = 2;
// console.log(vm.a);
// console.log(vm.$data == data);
// console.log(vm.data);

// vm.$watch('a', function(newV, oldV){
// 	console.log(newV);
// 	console.log(oldV);
// });

</script> -->



<div id="app-8">
<!-- 	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li v-for="(val, key) in pageData" v-bind:class="val == pageCount ? 'active': '' ">
				<a v-on:click="selectCrtPage(val)">{{val}}</a>
			</li>
		</ul>
	</nav> -->
<!-- 	<template v-if="showTest">
		<span v-for="(val, key) in test">
			<li>{{val}}</li>
		</span>
	</template> -->
	<form class="form-inline">
		<div class="form-group">
			<label for="">Name:</label>
			<input type="text" class="form-control" placeholder="name" v-model="newPerson.name">
		</div>
		<div class="form-group">
			<label for="">Age:</label>
			<input type="text" class="form-control" placeholder="age" v-model="newPerson.age">
		</div>
		<div class="form-group">
			<input class="btn" :class="newPerson.name && newPerson.age ? 'btn-primary': 'btn-danger'" v-on:click="addNewPerson()" type="button" value="Add" :disabled="!newPerson.name && newPerson.age">
		</div>
	</form>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>No</th>
				<th>Name</th>
				<th>Age</th>
				<th>Opt</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(val, key) in allPerson">
				<td>{{key}}</td>
				<td>{{val.name}}</td>
				<td>{{val.age}}</td>
				<td><span class="btn btn-warning" @click="delCrtPerson(val)">Delete</span></td>
			</tr>
		</tbody>
	</table>
</div>


<script type="text/javascript">
var app8 = new Vue({
	el:'#app-8',
	data:{
		newPerson:{
			name:'',
			age:''
		},
		allPerson:[
			{name:'Lucy',age:10},
			{name:'Trace',age:11},
		]
		// pageData:10,
		// pageCount:1,
		// showTest:true,
		// test:[1,2,3,4,5,{'AAAA':'BBBBB'}],
	},
	methods:{
		addNewPerson:function() {
			/* body... */
			// console.log(this.newPerson);
			this.allPerson.push(this.newPerson);
			this.newPerson = {name:'', age:''};
		},
		delCrtPerson:function (el) {
			/* body... */
			this.allPerson.splice(this.allPerson.indexOf(el), 1);
		}
		// selectCrtPage:function (arg) {
		// 	this.pageCount = arg;
		// }
	}
});
</script>
